includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 6
    paths:
        - src
        - tests
        - workbench/app
        - workbench/routes
    tmpDir: build/phpstan
